* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.text-block {
  width: 40%;
  padding: 4rem;
  white-space: pre-line;
  font-size: 1.2rem;
  line-height: 1.7;
}

#ascii-art {
  flex: 1;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .container {
    flex-direction: column;
    height: 100vh;
  }

  .text-block {
    width: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
    font-size: 1rem;
    height: 50vh;
  }

  #ascii-art {
    width: 100%;
    height: 50vh;
  }
}
